.info__icon-description {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 20px;
    line-height: 27px;
    color: white;
    max-width: 193px;
    grid-row: 2;
    text-align: center;
    margin: 0;
}